{% extends 'base.html' %}
{% block content %}
<article id="about" class="panel">
    <div class="cv-container">  
        <section>
          <h2>About Me</h2>
          <p>
            I am a self-taught developer with a passion for web development, constantly expanding my skills in HTML, Python, C#, SQL, WPF, and basic tools in Kali Linux for web security. Although I may not have a formal degree, my dedication and enthusiasm drive me to continuously learn and improve. I thrive in dynamic environments where I can contribute my knowledge and collaborate with a team to create impactful web solutions. With a strong foundation in web development and a keen eye for detail, I strive to deliver clean and functional code. I am eager to embrace new challenges and opportunities in order to grow as a junior developer.
          </p>
        </section>
      </div>
      

            <section>
                <div class="skills-container">
                  <div class="programming-skills">
                    <h3>Programming Skills</h3>
                    <ul>
                      <li>
                        HTML
                        <span class="stars">★★★</span>
                      </li>
                      <li>
                        C#
                        <span class="stars">★★★</span>
                      </li>
                      <li>
                        Python
                        <span class="stars">★★★</span>
                      </li>
                      <li>
                        SQL Server
                        <span class="stars">★★☆</span>
                      </li>
                      <li>
                        WPF
                        <span class="stars">★★☆</span>
                      </li>
                      <li>
                        Kali Linux
                        <span class="stars">★★☆</span>
                      </li>
                    </ul>
                  </div>
                  <div class="general-skills">
                    <h3>Skills</h3>
                    <ul>
                      <li>Electricity</li>
                      <li>Computer</li>
                      <li>Electronics</li>
                      <li>Metalworking</li>
                      <li>Welding</li>
                      <li>Electromechanics</li>
                      <li>Administrative</li>
                    </ul>
                  </div>
                  <div class="languages">
                    <h3>Languages</h3>
                    <ul>
                      <li>Spanish (Native)</li>
                      <li>English (Basic-Intermediate)</li>
                    </ul>
                  </div>
                </div>
            </section>									
    </article>

{% endblock %}