{% extends 'base.html' %}
{% block content %}
<article id="Education" class="panel">
    <div class="education-container">
        <header>
          <h2>Education</h2>
        </header>
        <section>
            
              <div><strong>E.S.T. N°3 (03/2011 - 10/2015)</strong></div>
                <strong>Bachelor's Degree</strong>
            
              <div><strong>C.E.N.S.N°457 (03/2016 - 11/2016)</strong></div>
                <strong>Secondary Education in Goods and Services</strong>
            
              <div>Don Bosco (03/2015 - 11/2015)</div>
                <strong>Programacion.net</strong>
            
              <div>Inta (10/2018 - 11/2018)</div>
                <strong>Food Handling</strong>
            
              <div>Inta (10/2018 - 11/2018)</div>
                <strong>Janitorial Assistant</strong>
            
              <div>CFP N°402 (03/2021 - 12/2021)</div>
                <strong>Structural Ironwork - Welder</strong>
            
              <div>CFP N°403 (03/2022 - 08/2022)</div>
                <strong>Upholsterer</strong>
        
        </section>
    </div>
</article>
      

{% endblock %}