{% extends 'base.html' %}
{% block content %}
<article id="Experience" class="panel">
    <div class="experience-container">
        <header>
          <h2>Experience</h2>
        </header>
        <section>
            
              <h3>Metal Worker</h3>
              <strong>Odisio - Mar del Plata (07/2021 - 02/2023)</strong>
              <p>Manufacturing, assembly, welding, repair, and restoration of Washers - Dryers - Centrifuges - Irons.</p>
      
            
              <h3>Skilled Operator</h3>
              <strong>Manpower - Mar del Plata (03/2022 - 05/2022)</strong>
              <p>Metalworker under temporary contract with Manpower at Eskabe factory.</p>
            
      
            
              <h3>E-Commerce</h3>
              <strong>Simplia Sa - Mar del Plata (01/2022 - 02/2022)</strong>
              <p>Temporary staff for order assembler within Carrefour store.</p>
        
      
        
              <h3>Call Center</h3>
              <strong>AegisARG - Mar del Plata (08/2017 - 04/2018)</strong>
              <p>Customer Service - Collections - Invoicing - Complaints - Digital product activation and deactivation.</p>
        </section>
    </div>
</article>

{% endblock %}